@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.main-cont{
  position: relative;
  height: 200dvh;
}
header{
  position: fixed;
  color: #4E6E4E;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  z-index: 10;
  button{
    background-color: #4E6E4E;
    color: #FFD166;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
  }
}
.banner-container{
  background-color: #FFD166;
  color: #4E6E4E;
  position: sticky;
  z-index: -10;
  top: 0;
  height: 100dvh;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .banner{
    font-weight: bold;
    text-transform: uppercase;
    font-size: xx-large;
    h2{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 400px;
      overflow: hidden;
      p{
        margin-right: 18px;
      }
    }
  }
}
.video-container{
  width: 80%;
  height: 65%;
  overflow: hidden;
  position: relative;
  video{
    width: 100%;
  }
}
section{
  position: relative;
  background-color: #4E6E4E;
  color: #FFD166;
  height: 100dvh;
  width: 100%;
  .text{
    height: 60%;
    display: flex;
    justify-content: center;
    padding: 80px 120px;
    gap: 40px;
    h5{
      font-size: xx-large;
      text-transform: uppercase;
      width: 300px;
    }
    .text-container{
      display: flex;
      flex-direction: column;
      gap: 12px;
      p{
        max-width: 400px;
        line-height: 20px;
      }
    }
  }
}
footer{
  height: 40%;
  background-color: #FFD166;
  color: #4E6E4E;
  font-size: xxx-large;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  p{
    font-size: medium;
    font-weight: bold;
  }
}

@media (max-width: 426px) {
  header{
    padding: 20px;
  }
  .banner-container{
    padding: 20px 20px;
    overflow: hidden;
  }
  .video-container{
    width: 100%;
    height: fit-content;
  }
  section{
    .text{
      flex-direction: column;
      padding: 30px 20px;
      gap: 10px;
      .text-container{
        width: 100%;
      }
    }
  }
}